composer-setup.php
composer.phar
.VSCodeCounter/*


GaelO2/app/GaelO/Services/SpecificStudiesRules/*
GaelO2/database/seeders/GaelOStudyBaseSeeder.php
GaelO2/database/seeders/BicarSeeder.php
GaelO2/database/seeders/GataSeeder.php
GaelO2/database/seeders/TestSeeder.php
src/data/*