Options -Indexes
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [NC,L]


<IfModule mod_deflate.c>
 SetOutputFilter DEFLATE
</IfModule>

php_value post_max_size 6M
php_value upload_max_filesize 5M
